<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @word.type %>
</p>

<p>
  <strong>Word content:</strong>
  <%= @word.word_content %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
